<%- include("top") %>
    <%- include("head") %>
        <div class="container-box">
            <div class="container-lg my-5">

                <section class="my-4">
                    <div class="card">
                        <div class="row g-0">
                            <% deals.forEach((deal)=>{ %>
                                <div class="col-md-4">
                                    <img src="<%= deal.deal_image_uri %>" class="card-img custom-img"
                                        alt="Picture of <%= deal.title %>">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= deal.title %>
                                        </h5>
                                        <p class="card-text">Original Price: € <%= deal.original_price %>
                                        </p>
                                        <p class="card-text">Discount Price: € <%= deal.price%>
                                        </p>
                                        <a href="<%= deal.deal_uri %>" class="btn btn-primary">Get Deal</a>
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#voucherModal">Add Voucher Code</button>
                                    </div>
                                </div>
                        </div>

                    </div>

                </section>

                <section class="my-4">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <section class="my-4">
                                    <div class="row">
                                        <div class="col">
                                            <h2>About This Deal</h2>
                                            <div id="dealDetails">
                                                <%= deal.description %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <button class="btn btn-primary me-2"><i class="fab fa-facebook"
                                                    alt="Facebook"></i>Post to Facebook</button>
                                            <button class="btn btn-primary"><i class="fab fa-twitter"
                                                    alt="Twitter"></i>Post
                                                to Twitter</button>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="row">
                                <div class="card-footer">
                                    <a href="#comments" class="float-end"><i class="bi bi-chat-dots"></i> Comments</a>
                                </div>
                                <div class="col">
                                    <a href="#comments"><i class="bi bi-chat-dots"></i> Add a Comment</a>
                                </div>
                            </div>
                        </div>
                </section>
            </div>

            <section id="comments" class="my-4">
                <!-- Add comments section here -->
            </section>
        </div>
        <% }); %>
            <%- include("foot") %>