<%- include("top") %>
    <%- include("head") %>

        <div class="container-box">
            <div class="container-lg my-5">
                <h2>So many deals ... see them all!</h2>
                <!-- Dropdown component -->
                <div class="dropdown mb-4">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Filter
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/deals">All</a>
                        <a class="dropdown-item" href="/deals/liked">Most Liked</a>
                        <a class="dropdown-item" href="/deals/recent">Most Recent</a>
                    </ul>
                </div>
                <div class="row mb-4">
                    <% deals.forEach((deal)=> { %>
                        <div class="col-sm-4 col-lg-4">
                            <div class="card">
                                <img class="card-img-top" src="<%= deal.deal_image_uri %>"
                                    alt="<%= deal.title %> Image">
                                <div class="card-icon">
                                    <% if (loggedIn) { %>
                                        <form id="saveDealForm" action="/saveDeal" method="post">
                                            <input type="hidden" name="dealId" value="<%= deal.deal_id %>">
                                            <button type="submit" class="btn btn-outline-secondary">
                                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                        <% } else { %>
                                            <a href="/register" class="btn btn-outline-secondary">
                                                <i class="fa fa-bookmark" aria-hidden="true"></i> <!-- Save icon -->
                                            </a>
                                            <% } %>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">
                                        <%= deal.title %>
                                    </h3>
                                    <p class="card-text">
                                        <strong>£<%= deal.price %></strong>
                                        <s>£<%= deal.original_price %></s>
                                        - You save £<%=(deal.original_price - deal.price).toFixed(2) %>!
                                    </p>
                                    <div class="button-wrapper">
                                        <a href="/deals/<%= deal.deal_id %>" class="btn btn-primary">View
                                            Deal</a>
                                        <% if (loggedIn) { %>
                                            <form id="likeDealForm" action="/likeDeal" method="post">
                                                <input type="hidden" name="dealId" value="<%= deal.deal_id %>">
                                                <button type="submit" class="btn btn-outline-secondary">
                                                    <i class="fas fa-heart" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                            <% } else { %>
                                                <a href="/register" class="btn btn-outline-secondary">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                                <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>

        <%- include("foot") %>