<%- include("top") %>
    <%- include("head") %>
        <div class="container-box">
            <div class="container-lg my-5">
                <h2>all merchants a-z</h2>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <% merchants.forEach((merchant)=> { %>
                        <div class="col">
                            <a href="/merchants/<%= merchant.merchant_id %>/deals" class="card-link">
                                <div class="card merchant-card">
                                    <img class="card-img-top merchant-img" src="<%= merchant.image_uri %>"
                                        alt="<%= merchant.merchant_name %> logo">
                                    <div class="card-body">

                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>
        <%- include("foot") %>