<%- include("top") %>
    <%- include("head") %>
        <div class="container-box">
            <div class="container-lg my-5">
                <h2>all merchants a-z</h2>
                <div class="row mb-4">
                    <% merchants.forEach((merchant)=> { %>
                        <div class="col-sm-3 col-lg-3">
                            <!-- need to add link to all deals associated with that merchant -->
                            <a href="/merchants/<%= merchant.merchant_id %>/deals" class="card-link">
                                <div class="card">
                                    <div class="card-body d-flex">
                                        <div class="image-container">
                                            <img class="card-img-top mr-3 styled-image" src="<%= merchant.image_uri %>"
                                                alt="<%= merchant.merchant_name %> logo">
                                        </div>
                                        <h5 class="merchant-name">
                                            <%= merchant.merchant_name %>

                                        </h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>
        </div>
        <%- include("foot") %>