<%- include("top") %>
    <%- include("head") %>
        <div class="container-box">
            <div class="container-lg my-5">
                <h2>So many vouchers ... redeem them all!</h2>
                <div class="row mb-4">
                    <% vouchers.forEach((voucher)=> { %>
                        <div class="col-sm-4 col-lg-4">
                            <div class="card">
                                <img class="card-img-top" src="<%= voucher.image_uri %>"
                                    alt="<%= voucher.merchant_name %> logo">
                                <div class="card-icon">
                                    <% if (loggedIn) { %>
                                        <form id="likeVoucherForm" action="/likeVoucher" method="post">
                                            <input type="hidden" name="voucherId" value="<%= voucher.voucher_id %>">
                                            <button type="submit" class="btn btn-outline-secondary">
                                                <i class="fas fa-heart" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                        <% } else { %>
                                            <a href="/register" class="btn btn-outline-secondary">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <% } %>

                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">
                                        <%= voucher.title %>
                                    </h3>
                                    <p class="card-text">

                                    </p>
                                    <a href="/voucherCode" class="btn btn-primary">
                                        <%=voucher.voucher_code %>
                                    </a>
                                    <% if (loggedIn) { %>
                                        <form id="likeVoucherForm" action="/likeVoucher" method="post">
                                            <input type="hidden" name="voucherId" value="<%= voucher.voucher_id %>">
                                            <button type="submit" class="btn btn-outline-secondary">
                                                <i class="fas fa-heart" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                        <% } else { %>
                                            <a href="/register" class="btn btn-outline-secondary">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                            <% } %>

                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>
        <%- include("foot") %>